html {
    background: url('./assets/popcorn.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #EDE3E4;
  }

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5em;
    color: #3D3939;
}

main {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* border: 2px solid black; */
    background-color: rgba(255, 255, 255, 0.822);
    height: 325px;
    width: 250px;
    margin: 8px;
}

img {
    height: 60%;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

button:hover {
    background-color: #E4DEE4;
}

button {
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #AF9FA5;
    font-size: 15px;
}

#filter-button {
    height: 25px;
    width: 120px;
}

#filter-section {
    padding-top: 10px;
}
input {
    height: 20px;
    border: 1px solid black;
}

.hidden {
    display: none;
}

#paging-section {
    padding-top: 10px;
}

.placeholder-size {
    width: 60%;
}