section {
    padding: 10px;
}

#character-container {
    display: flex;
    flex-wrap: wrap;
}

.character {
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.character img {
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: hotpink;
    font-size: 2em;
}

h2:hover {
    font-size: 2em;
    background: -webkit-linear-gradient(orange, fuchsia);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}