* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

body {
    background-color: rgba(2, 86, 86, 0.681);

}

main {
    border: 2px solid;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    box-shadow: 10px 10px 10px teal;
}

h1 {
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 6em;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    color: rgb(172, 255, 47);
    text-shadow: 2px 2px 10px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-content: flex-start;
    list-style: none;
}

li {
    border: solid black 2px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
}


img {
    width: 150px;
}

div {
    border: dashed black 1px;
    margin: 10px;
    width: 100px;
}

p {
    font-size: .8em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

fieldset { 
    box-shadow: 10px 10px 10px black;
}

section { 
    margin: 10px;
}
#species-dropDown {
    position: relative; 
    font-size: 1.2em;
    width: 190px;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #8AA8BD;
}